[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
tensorflow = "*"
tensorflow-probability = "*"
pyfiglet = "*"
tqdm = "*"
pyDOE2 = "*"
requests = "*"

[dev-packages]
tensordiffeq = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
